body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#fcfcfc;
}

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

.header_class {
    display: flex;
    text-align: center;
    width: 100%;
    padding: 30px;
    margin: 0%;
    background-color: #c4c4c4;
}

.main_body {
    margin: 30px;
}

h1 {
    width:100%;
}

div {
    width:100%;
}

p {
    margin: 5px;
    margin-bottom: 8px;
}

input.x {
    border: 2px solid #888888;
    border-radius: 20px;
    padding: 12.5px;
    height: 20px;
}

input.x:focus-within {
    background-color: #f3f3f3;
}

select {
    border: 2px solid #888888;
    border-radius: 20px;
    padding: 5px 15px;
    color: black;
    text-align: center;
}

select:focus-within {
    text-align: left;
    border-color: black;
    background-color: #f3f3f3;
}

input.button {
    border: 2px solid #888888;
    border-radius: 20px;
    padding: 5px 15px;
    color: black;
    text-align: center;
    background-color: white;
    display: block;
    margin-top: 25px;
}

input.button:active {
    border-color: #000000;
    background-color: #f3f3f3;
}

